<%= search_form_for @q do |f| %>
<p>
	<%= f.label :name_cont %>
	<%= f.text_field :name_cont %>
</p>
<p>
	<%= f.submit %>
</p>
<% end %>

<div class="row">
	<% @groups.each do |group| %>
	<% if group.group_type != "hidden" %>
	<div class="small-4 columns">
		<div class="item-wrapper">
			<div class="image-wrapper">
				<a href="#"><img src="<%= group.group_image %>"></a>
				<a href="#"><h3><%= group.name %></h3></a>
				<% if group.offline %>
				<p>Offline</p>
				<% else %>
				<p>Online</p>
				<% end %>
				<p><%= group.group_type %></p>
			</div>
		</div>
	</div>
	<% end %>
	<% end %>
</div>

<ul>
	<li>
		<% @groups.each do |group| %>
		<% if group.group_type != "hidden" %>
		<ul>
			<li><img src="<%= group.group_image %>"></li>
			<li><a href="/groups/<%= group.id %>"><%= group.name %></a></li>
			<% if group.offline %>
			<li>Offline</li>
			<% else %>
			<li>Online</li>
			<% end %>
			<li><%= group.group_type %></li>
		</ul>
		<% end %>
		<% end %>
	</li>
</ul>