<ul>
	<li><img src="<%= @group.group_image %>"></li>
	<li><%= @group.name %></li>
	<% if @group.offline %>
	<li>Offline</li>
	<% else %>
	<li>Online</li>
	<% end %>
	<li><%= @group.group_type %></li>
	<li><%= @group.description %></li>
	<li><%= link_to "Edit Group", edit_group_path %></li>
</ul>

<h1>Current Book</h1>
<% if @group.current_book_id %>
<ul>
	<li><img src="<%= @current_book.cover_image %>"></li>
	<li><%= @current_book.title %></li>
	<li><%= @current_book.author %></li>
	<li><%= @current_book.release_date %></li>
	<li><%= @current_book.publisher %></li>
	<li><%= @current_book.description %></li>
</ul>
<% else %>
<a href="/books">Select a book to read</a>
<% end %>

<h1>All Books</h1>
<ul>
	<% @group.books.each do |book| %>
	<li><img src="<%= book.cover_image %>"></li>
	<li><%= book.title %></li>
	<li><%= book.author %></li>
	<li><%= book.release_date %></li>
	<li><%= book.publisher %></li>
	<li><%= book.description %></li>
	<% end %>
</ul>

<ul>
	<% @group.users.each do |user| %>
	<li><img src= "<%= user.profile_picture %>"></li>
	<li><%= user.username %></li>
	<li><%= user.fname %> <% user.lname %></li>
	<% end %>
</ul>