<div class="large-12 group-hero" style="background: url(<% if @group.group_image.length > 0 %><%= @group.group_image %><% else %>'/Default_Group_image.jpg'<% end %>); background-size: contain; background-repeat: no-repeat; background-position: center; background-color: #333333;">
	<h1><%= @group.name %></h1>
</div>

<div class="row group-info">
	<div class="medium-4 columns group-stats">
		<ul>
			<% if @group.offline %>
			<li>Offline,
			<% else %>
			<li>Online,
			<% end %>
			<%= @group.group_type %></li>
			<li>Members: <%= @group.subscriptions.count %></li>
			<li><%= @group.description %></li>
			<% if current_user %>
			<% if current_user.subscriptions.find_by(group_id: @group.id) == nil %>
			<%= link_to "Join Group", join_group_path, method: :post %>
			<% else %>
			<%= link_to "Leave Group", leave_group_path, method: :delete %>
			<% end %>
			<% if current_user.subscriptions.find_by(group_id: @group.id) && current_user.subscriptions.find_by(group_id: @group.id).user_type != "user" %>
			<%= link_to "Edit Group", edit_group_path %>
			<% end %>
			<% end %>
		</ul>
	</div>
	<div class="medium-8 columns group-current-book">
		<% if @group.current_book_id %>
		<ul>
			<li class="book-image"><img src="<%= @current_book.cover_image %>"></li>
			<li><h1>Current Book</h1></li>
			<li><%= @current_book.title %></li>
			<li><%= @current_book.author %></li>
			<li><%= @current_book.release_date %></li>
			<li><%= @current_book.publisher %></li>
			<li><%= @current_book.description %></li>
		</ul>
		<% else %>
		<p> You don't seem to have a current book </p>
		<a href="/books">Select a book to read</a>
		<% end %>
	</div>
</div>

<div class="row group-previous-books">
<h1>All Books</h1>
	<% @group.books.each do |book| %>
	<div class="medium-4 columns">
		<div class="item-wrapper">
			<li class="book-image"><img src="<%= book.cover_image %>"></li>
			<li><%= book.title %></li>
			<li><%= book.author %></li>
			<li><%= book.release_date %></li>
			<li><%= book.publisher %></li>
		</div>
	</div>
	<% end %>
</div>

<div class="row group-users">
	<h1>Group Members</h1>
	<% @group.subscriptions.each do |sub| %>
	<% user = User.find(sub.user_id) %>
	<div class="medium-4 columns">
		<% if user.profile_picture.length > 0 %>
		<li><img src="<%= user.profile_picture %>"></li>
		<% else %>
		<li><img src="/user_icon.png"></li>
		<% end %>
		<li><%= user.username %></li>
		<li><%= user.fname %> <%= user.lname %></li>
	</div>
	<% end %>
</div>