<div class="large-12 group-hero" style="background: url(<% if @group.group_image.length > 0 %><%= @group.group_image %><% else %>'/Default_Group_image.jpg'<% end %>); background-size: contain; background-repeat: no-repeat; background-position: center; background-color: #003B3B;">
	<h1><%= @group.name %></h1>
</div>

<div class="row <% if @group.current_book_id %>group-info<% else %>group-info-no-book<% end %>">
	<div class="medium-3 small-12 columns group-stats">
		<ul>
			<li>Members: <%= @group.subscriptions.count %></li>
			<% if @group.offline %>
			<li>Offline,
			<% else %>
			<li>Online,
			<% end %>
			<%= @group.group_type %></li>
			<li><%= @group.description %></li>
			<% if current_user %>
			<% if current_user.subscriptions.find_by(group_id: @group.id) == nil %>
			<%= link_to "Join Group", join_group_path, method: :post, class: "group-button" %>
			<% else %>
			<%= link_to "Leave Group", leave_group_path, method: :delete, class: "group-button" %>
			<% end %>
			<% if current_user.subscriptions.find_by(group_id: @group.id) && current_user.subscriptions.find_by(group_id: @group.id).user_type != "user" %>
			<%= link_to "Edit Group", edit_group_path, class: "group-button" %>
			<% end %>
			<% end %>
		</ul>
	</div>
	<div class="medium-9 small-12 columns group-current-book">
		<% if @group.current_book_id %>
		<div class="small-4 columns current-book-image">
			<img src="<%= @current_book.cover_image %>">
		</div>
		<div class="small-8 columns current-book-info">
			<h1>Currently Reading</h1>
			<h3><%= @current_book.title %></h3>
			<h5><%= @current_book.author %>, <%= @current_book.release_date %>, <%= @current_book.publisher %></h5>
			<p class="current-book-description show-for-medium-up"><%= @current_book.description %></p>
		</div>
		<% else %>
		<h5> You don't have a current book </h5>
		<a href="/books" class="group-button">Select a book to read</a>
		<% end %>
	</div>
</div>

<% unless @group.books == [] %>
<div class="row group-previous-books">
<h1 class="section-header">All Previous Books</h1>
<%= render "book_card", object: @books %>
</div>
<% end %>

<div class="row group-users">
	<h1 class="section-header">Group Members</h1>
	<%= render "user_card", object: @users %>
</div>


<!-- 	<div class="medium-4 columns">
		<%# if user.profile_picture.length > 0 %>
		<li><img src="<%#= user.profile_picture %>"></li>
		<%# else %>
		<li><img src="/user_icon.png"></li>
		<%# end %>
		<li><%#= user.username %></li>
		<li><%#= user.fname %> <%#= user.lname %></li>
	</div>
	<%# end %> -->
