<ul>
	<li><img src="<%= @user.profile_picture %>"></li>
	<li><%= @user.username %></li>
	<li><%= @user.fname %> <%= @user.lname %></li>
	<li><%= @user.email %></li>
</ul>

<ul>
	<li>
	<% @user.books.each do |book| %>
	<ul>
		<li><img src="<%= book.cover_image %>"></li>
		<li><%= book.title %></li>
		<li><%= book.author %></li>
		<li><%= book.author %></li>
	</ul>
	<% end %>
	</li>
</ul>

<ul>
	<li>
		<% @user.groups.each do |group| %>
		<ul>
			<li><img src="<%= group.group_image %>"></li>
			<li><%= group.name %></li>
		</ul>
		<% end %>
	</li>
</ul>