<%= form_for @book do |f| %>
<% if @book.errors.any? %>
<% for message in @book.errors.full_messages %>
<div class="alert alert-danger" role="alert">
	<%= message %>
</div>
<% end %>
<% end %>

<div class="row">
	<fieldset class="form-group large-6 large-offset-3 medium-8 medium-offset-2">
		<div>
			<%= f.label :title %>
			<%= f.text_field :title %>
		</div>
		<div>
			<%= f.label :author %>
			<%= f.text_field :author %>
		</div>
		<div>
			<%= f.label :description %>
			<%= f.text_area :description %>
		</div>
		<div>
			<%= f.label :release_date %>
			<%= f.number_field :release_date %>
		</div>
		<div>
			<%= f.label :publisher %>
			<%= f.text_field :publisher %>
		</div>
		<div>
			<%= f.label :cover_image %>
			<%= f.file_field :cover_image %>
		</div>

<%= f.submit class: "btn btn-primary" %>
	</fieldset>
</div>

<% end %>