<%= search_form_for @q do |f| %>
  <p>
    <%= f.label :title_or_author_cont %>
    <%= f.text_field :title_or_author_cont %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<div class="row group-previous-books">
	<%= render "book_card", object: @books %>
</div>