<%= search_form_for @q do |f| %>
  <p>
    <%= f.label :title_or_author_cont %>
    <%= f.text_field :title_or_author_cont %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<ul>
	<li>
		<% @books.each do |book| %>
		<ul>
			<li><img src="<%= book.cover_image %>"></li>
			<li><%= book.title %></li>
			<li><%= book.author %></li>
		</ul>
		<% end %>
	</li>
</ul>