<div class="book-page-main row">
	<div class="book-page-image medium-4 columns">
		<img src="<%= @book.cover_image %>">
	</div>
	<div class="book-page-info medium-8 columns">
			<h1><%= @book.title %></h1>
			<h3><%= @book.author %>, <%= @book.release_date %></h3>
			<p class="book-page-desc">
				<% @book.genres.each do |genre| %>
				<%= genre.name %>, 
				<% end %>
			</p>
			<p class="book-page-desc"><%= @book.description %></p>
			<p class="book-page-publisher">Publisher: <%= @book.publisher %></p>
			<% if current_user && current_user.subscriptions && current_user.subscriptions.where(user_type: "admin") %>
			<p><%= link_to "Read this book in your group", add_book_path %></p>
			<% end %>
	</div>
</div>

<div class="book-page-groups row">
<h1 class="section-header">Groups Reading This Book</h1>
<%= render "group_card_no_hidden", object: @groups %>
</div>