<div class="row">
	<div class="medium-4 columns">
		<img src="<%= @book.cover_image %>">
	</div>
	<div class="medium-8 columns">
		<ul>
			<li><%= @book.title %></li>
			<li><%= @book.author %></li>
			<li><%= @book.release_date %></li>
			<li><%= @book.publisher %></li>
			<li><%= @book.description %></li>
			<% if current_user.subscriptions && current_user.subscriptions.where(user_type: "admin") %>
			<li><%= link_to "Add Book to Your Group", add_book_path %></li>
			<% end %>
		</ul>
	</div>
</div>

<div class="row">
<h1>Groups Reading This Book</h1>
<%= render "group_card_no_hidden", object: @groups %>
</div>