<div class="book-page-main row">
	<div class="book-page-image medium-4 columns">
		<img src="<%= @book.cover_image %>">
	</div>
	<div class="medium-8 columns">
			<h1><%= @book.title %></h1>
			<h3><%= @book.author %></h3>
			<h5><%= @book.release_date %>, <%= @book.publisher %></h5>
			<p><%= @book.description %></p>
			<% if current_user && current_user.subscriptions && current_user.subscriptions.where(user_type: "admin") %>
			<p><%= link_to "Read this book in your group", add_book_path %></p>
			<% end %>
	</div>
</div>

<div class="book-page-groups row">
<h1 class="section-header">Groups Reading This Book</h1>
<%= render "group_card_no_hidden", object: @groups %>
</div>