<div class="row">
	<div class="medium-4 columns">
		<img src="<%= @book.cover_image %>">
	</div>
	<div class="medium-8 columns">
		<ul>
			<li><%= @book.title %></li>
			<li><%= @book.author %></li>
			<li><%= @book.release_date %></li>
			<li><%= @book.publisher %></li>
			<li><%= @book.description %></li>
			<% if current_user.subscriptions && current_user.subscriptions.where(user_type: "admin") %>
			<li><%= link_to "Add Book to Your Group", add_book_path %></li>
			<% end %>
		</ul>
	</div>
</div>



<div class="row">
<h1>Groups Reading This Book</h1>
	<% @book.groups.each do |group| %>
	<% if group.current_book_id == @book.id && group.group_type != "hidden" %>
	<div class="medium-4 columns">
		<div class="item-wrapper">
			<div class="image-wrapper">
				<a href="/groups/<%= group.id %>"><img src="<%= group.group_image %>"></a>
				<a href="/groups/<%= group.id %>"><h3><%= group.name %></h3></a>
				<% if group.offline %>
				<h6>Offline,
				<% else %>
				<h6>Online,
				<% end %>
				<%= group.group_type %></h6>
				<h6><%= group.subscriptions.count %> members</h6>
			</div>
		</div>
	</div>
	<% end %>
	<% end %>
</div>