<nav class="top-bar" data-topbar role="navigation">
	<ul class="title-area">
		<li class="name">
			<h1><%= link_to "Book Club", root_path %></h1>
		</li>
		<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
	</ul>
	<% if user_signed_in? %>
	<section class="top-bar-section">
		<ul class="left">
			<li class="has-dropdown">
				<a href="#">Groups</a>
				<ul class="dropdown">
					<li><%= link_to "All Groups", groups_path %></li>
					<li><%= link_to "Create Group", new_group_path %></li>
				</ul>
			</li>
			<li class="has-dropdown">
				<a href="#">Books</a>
				<ul class="dropdown">
					<li><%= link_to "Books", books_path %></li>
					<% if current_user.user_type == "admin" %>
					<li><%= link_to "Add Book", new_book_path %></li>
					<% end %>
				</ul>
			</li>
		</ul>
		<ul class="right">
			<li class="has-dropdown">
				<a href="#"><%= current_user.username %></a>
				<ul class="dropdown">
					<li><%= link_to "My Account", user_path(current_user) %></li>
					<li><%= link_to "Edit Account", edit_user_registration_path(current_user) %></li>
					<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
				</ul>
			</li>
		</ul>
	</section>
	<% else %>
	<section class="top-bar-section">
		<ul class="left">
			<li><%= link_to "Groups", groups_path %></li>
			<li><%= link_to "Books", books_path %></li>
		</ul>
		<ul class="right">
			<li><%= link_to "Log In", new_user_session_path %></li>
			<li><%= link_to "Register", new_user_registration_path %></li>
		</ul>
	</section>
	<% end %>
</nav>
