<!DOCTYPE html>
<html>
<head>
  <title>WdiProject2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
	<nav>
		<ul>
			<li><%= link_to "Log In", new_user_session_path %></li>
			<li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
			<li><%= link_to "Register", new_user_registration_path %></li>
			<li><%= link_to "Users", users_path %></li>
			<li><%= link_to "Groups", groups_path %></li>
			<li><%= link_to "Books", books_path %></li>
		</ul>
	</nav>
</header>

<% flash.each do |name, message| %>
  <div class="flash-message flash-message-<%= name %>">
    <%= message %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
